<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Domum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/banco">Parceiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/get-imovel">Pesquisar Imóveis</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/post-cliente">Cadastre-se para comprar imóvel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/post-proprietario">Cadastre-se para vender um imóvel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cliente">Ver nossos clientes</a>
      </li>
    </ul>
  </div>
</nav>
