<footer class="page-footer font-small bg-primary pt-4 footer navbar-fixed-bottom">

  <div class="container">
    <div class="row">
      <div class="coll-md-12 d-flex justify-content-center"></div>
      <h4 class="text"></h4>
    </div>
    <p class="descricao fs-16">Feito durante Campinas Tech Talents</p>
    <div class="row">

      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <a href="https://github.com/ySodias/projeto_final_ctt" target="_blank" class="icoGithub">
              <img src="../../assets/img/github.png" alt="Logo" width="30px" height="30px" class="img-fluid rounded-circle">
              </a>
          </li>

          <li>
            <img src="../../assets/img/python.png" alt="Logo" width="30px" height="30px" class="img-fluid rounded-circle">
          </li>

          <li>
            <a href="https://www.linkedin.com/in/yuri-dias-soares/" target="_blank" class="icoLinkedin">
            <img src="../../assets/img/linkedin.png" alt="Logo" width="30px" height="30px" class="img-fluid rounded-circle">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py3">
    <span class="text-light">© 2021 Copyright: Yuri Dias Soares</span>
  </div>


</footer>
