<div class="container-fluid">

          <h1 class="text-center">Cadatrar-se</h1>
          <hr class="mt5 mb-5">
          <div class="form-group">
            <label for="Nome">Banco</label>
            <select #id_banco id="id_banco" name="id_banco" class="form-group form-check form-control">
              <option type="text"  value="1">Caixa</option>
              <option type="text"  value="2">Banco do Brasil</option>
              <option type="text"  value="3">Itaú</option>
              <option type="text"  value="4">Bradesco</option>
              <option type="text"  value="5">Santander</option>
              <option type="text"  value="6">Bradesco</option>
            </select>
          </div>


          <div class="form-group">
            <label for="Nome">Nome</label>
            <input #nome class="form-control" type="text" value="" name="nome" id="nome" placeholder="Digite seu Nome">
          </div>

          <div class="form-group">
            <label for="data_de_nascimento">Data de Nascimento</label>
            <input #data_de_nascimento class="form-control" type="date" id="data_de_nascimento" placeholder="Digite sua Data de Nascimento">
          </div>

          <div class="form-group">
            <label for="rg">RG</label>
            <input #rg class="form-control" type="text" name="rg" id="rg" placeholder="Digite seu RG">
          </div>

          <div class="form-group">
            <label for="cpf">CPF</label>
            <input #cpf class="form-control" type="text" name="cpf" id="cpf" placeholder="Digite seu CPF">
          </div>

          <div class="form-group">
            <label for="estado_civil">Estado Civil</label>
            <input #estado_civil class="form-control" type="text" name="estado_civil" id="estado_civil" placeholder="Digite seu Estado Civil">
          </div>

          <div class="form-group">
            <label for="profissao">Profissão</label>
            <input #profissao class="form-control" type="text" name="profissao" id="profissao" placeholder="Digite sua Profissão">
          </div>

          <div class="form-group">
            <label for="tiporesidencia">Tipo de Residência</label>
            <input #tipo_de_residencia class="form-control" type="text" name="tiporesidencia" id="tiporesidencia" placeholder="Digite o tipo da sua residência">
          </div>
          <div class="form-group">
            <label for="cep">CEP</label>
            <input #cep class="form-control" type="text" name="cep" id="cep" placeholder="Digite seu CEP">
          </div>

          <div class="form-group">
            <label for="profissao">Rua</label>
            <input #rua class="form-control" type="text" name="rua" id="rua" placeholder="Digite sua Rua">
          </div>

          <div class="form-group">
            <label for="profissao">Número</label>
            <input #numero class="form-control" type="text" name="numero" id="numero" placeholder="Digite o número da casa">
          </div>

          <div class="form-group">
            <label for="profissao">Cidade</label>
            <input #cidade class="form-control" type="text" name="cidade" id="cidade" placeholder="Digite sua cidade">
          </div>

          <div class="form-group">
            <label for="profissao">Estado</label>
            <input #estado class="form-control" type="text" name="estado" id="estado" placeholder="Digite seu estado">
            <label>Estado</label>
            <select #estado value="" id="estado" name="estado" class="form-group form-check form-control">
              <option value="Acre">Acre</option>
                <option value="Alagoas">Alagoas</option>
                <option value="Amapá">Amapá</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Bahia">Bahia</option>
                <option value="Ceará">Ceará</option>
                <option value="Distrito Federal">Distrito Federal</option>
                <option value="Espírito Santo">Espírito Santo</option>
                <option value="Goiás">Goiás</option>
                <option value="Maranhão">Maranhão</option>
                <option value="Mato Grosso">Mato Grosso</option>
                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                <option value="Minas Gerais">Minas Gerais</option>
                <option value="Pará">Pará</option>
                <option value="Paraíba">Paraíba</option>
                <option value="Paraná">Paraná</option>
                <option value="Pernambuco">Pernambuco</option>
                <option value="Piauí">Piauí</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                <option value="Rondônia">Rondônia</option>
                <option value="Roraima">Roraima</option>
                <option value="Santa Catarina">Santa Catarina</option>
                <option value="São Paulo">São Paulo</option>
                <option value="Sergipe">Sergipe</option>
                <option value="Tocantins">Tocantins</option>
            </select>
          </div>

          <div class="form-group">
            <label for="profissao">UF</label>
            <select #uf value="" id="uf" name="uf" class="form-group form-check form-control">
              <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-4" routerLink='/menu'>Cancelar</button>
            <button type="submit" class="btn btn-success" (click)="insereNovoCliente(id_banco.value, nome.value, data_de_nascimento.value, rg.value, cpf.value, estado_civil.value, profissao.value, tipo_de_residencia.value, cep.value, rua.value, numero.value, cidade.value, estado.value, uf.value)"  routerLink='/get-imovel'>Cadastrar</button>
          </div>

          <hr class="mt5 mb-5">

</div>
